.popup__input {
    margin: 4px auto 22px auto;
    width: 358px;
    display: flex;
    flex-direction: column;
    border: none;
}

@media screen and (max-width: 570px) {
    .popup__input {
        width: 238px;
    }
}