.body {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Inter", Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0 auto;
    padding: 0;
}