.popup__field-about {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    width: 358px;
    padding-bottom: 9px;
    margin: 29px auto 0px auto;
}

@media screen and (max-width: 570px) {
    .popup__field-about {
        width: 238px;
    }
}