.popup__field-about {
    margin: 30px auto 0px auto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    width: 358px;
    padding-bottom: 9px;
    margin: 29px auto 0px auto;
}
