.popup__field-name {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    margin: 47px auto 0px auto;
    width: 358px;
    padding-bottom: 9px;
}

@media screen and (max-width: 570px) {
    .popup__field-name {
        width: 238px;
        margin: 74px auto 0px auto;
    }
}